
:root{
    --cor-de-fundo:#d6aa26;
    --branco-principal:  #d6aa26,#d6aa26;
    --fundo-degrade: #d6aa26,#d6aa26;
}

header{
    display: flex;
}
.cabecalho{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-size: 15px;
    text-align: justify; 
}

.cabecalho__logo{
    width: 10%;
    padding: 1em;
}

.cabecalho__texto{
    font-size: 15px;
}

.tema{
    background:linear-gradient(#d6aa26,#d6aa26);
    display: inline-flex;    
}

.imagem__1{
    margin: 2em;
    width: 90%;
}

.texto{
    display: inline-block;
    text-align: center;
    margin: 1em;
}
d6aa26,#d6aa2
.tema__titulo{
    color: var(--fundo-degrade);
    font-size: 40px;
}

.tema__descricao{
    color: var( #d6aa26,#423d2f);
    font-size: 30px;
}


@media screen and (min-width: 820px) {
    
}

@media screen and (min-width: 1024px) {
   .tema__titulo{
    color:(var(--fundo-degrade));
   }
}